@import "../../scss/variables.scss";

.input {
  .name {
    color: $color_4;
    font-weight: 100;
    font-size: 20px;
  }
  .link {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
  }
}
