@import "../../scss/variables.scss";

.searchProjects {
  background: $color_2;
  height: 60px;
  border-radius: 60px;
  padding: 20px 30px;
  font-size: 20px;
  margin-left: 30px;
  box-shadow: 0 0 20px -10px black;
  border: 2px solid $color_6;
}
