@import "../../scss/variables.scss";

.updater {
  position: fixed;
  top: 20px;
  right: 20px;
  background: $color_2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid $color_7;
  overflow: hidden;

  .loading {
    -webkit-appearance: none;
    border-radius: 100px;
    overflow: hidden;
    width: 200px;
    background: $color_1;
    margin: 20px;
    margin-top: 0;

    &::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
    }

    &::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      background: $color_3;
      border-radius: 100%;
      box-shadow: -300px 0 0 294px $color_3;
    }
  }

  .info {
    font-size: 20px;
    padding: 20px;
  }
}
