@import "./variables.scss";
@import "./animations.scss";

.content {
  padding: 30px;

  #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .project {
      transition: 0.5s;
      height: 210px;
      width: 350px;
      background: $color_2;
      border-radius: 10px;
      margin: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      grid-template-columns: auto auto;

      &:hover {
        box-shadow: 0px 0px 0px 5px $color_7;
      }
      .header {
        grid-area: name;
        padding: 15px;
        background: $color_4;
        color: $color_1;
        cursor: pointer;

        .name {
          font-size: 20px;
        }
        .technology {
          font-size: 13px;
          color: $color_2;

          &:before {
            content: "#";
          }
        }
      }
      .description {
        grid-area: description;
        overflow-y: scroll;
        padding: 0px 5px;
        margin: 10px;
      }
    }
  }

  #addProject {
    transition: 0.2s;
    background-color: $color_6;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    border-radius: 100px;
    user-select: none;
    cursor: pointer;
    opacity: 0.8;
    font-family: NerdFont;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  #projectInfoOverlay,
  #newProjectOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
  }

  #projectInfoOverlay.open,
  #newProjectOverlay.open {
    display: flex;
    animation: openOverlay;
    animation-duration: 0.5s;
  }

  #projectInfoOverlay.close,
  #newProjectOverlay.close {
    animation: closeOverlay;
    animation-duration: 0.5s;
  }

  #projectInfoOverlay {
    .projectInfo {
      display: flex;
      padding: 40px;
      min-height: 500px;
      background-color: $color_2;
      position: relative;
      height: calc(100% - 80px);
      width: calc(100% - 80px);

      border-radius: 10px;

      .left {
        width: 40%;
        padding: 20px;
        overflow-y: scroll;

        #projectName {
          font-size: 40px;
          color: $color_4;
          width: 100%;
          font-family: Pacifico;
        }

        #projectTechnology {
          font-size: 25px;
          width: 100%;
          margin: 0 auto;
          border-bottom: 2px dashed $color_7;
          padding-bottom: 20px;
          margin-top: 5px;

          &:before {
            content: "#";
          }
        }
        #projectDescription {
          font-size: 20px;
          margin: 20px auto;
        }

        .actions {
          display: flex;

          #edit,
          #delete {
            transition: 0.2s;
            padding: 10px 20px;
            border-radius: 100px;
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.8;
            user-select: none;

            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }
          }
          #edit {
            background: $color_4;
          }
          #delete {
            background: $color_5;
          }
        }

        #credentials {
          .db,
          .user {
            border-radius: 10px;
            background: $color_1;
            padding: 20px;
            &:before {
              font-size: 20px;
              color: $color_7;
              font-weight: 600;
              border-bottom: 2px solid $color_7;
              display: block;
              padding-bottom: 10px;
              margin-bottom: 10px;
            }
          }

          .db {
            &:before {
              content: "Database";
            }
          }

          .user {
            margin-top: 10px;
            &:before {
              content: "Utente";
            }
          }

          .enviroment {
            .username,
            .password,
            .ip {
              display: flex;
              align-items: center;
              padding: 5px 0;

              &:before {
                font-family: NerdFont;
                color: $color_4;
                font-weight: 100;
                font-size: 35px;
                margin-right: 20px;
              }
            }

            .password {
              &:before {
                content: "";
              }
            }

            .username {
              &:before {
                content: "";
              }
            }

            .ip {
              &:before {
                content: "歷";
              }
            }
          }

          .envName {
            color: $color_8;
            font-size: 30px;
            font-weight: 600;
            margin: 20px 0 10px 0;
          }
        }
      }

      .right {
        background: red;
      }

      #closeProjectInfoOverlay {
        transition: 0.2s;
        position: absolute;
        font-family: NerdFont;
        top: 30px;
        right: 20px;
        height: 50px;
        width: 50px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color_5;
        border-radius: 50px;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }

  #newProjectOverlay {
    #newProjectForm {
      display: grid;
      padding: 40px;
      min-height: 500px;
      background-color: $color_2;

      grid-template-areas:
        "title title"
        "left right"
        "submit submit";

      grid-template-columns: 40% 60%;
      grid-template-rows: 80px auto 50px;

      height: calc(100% - 80px);
      width: calc(100% - 80px);

      border-radius: 10px;

      h1 {
        font-size: 40px;
        margin-bottom: 20px;
        grid-area: title;
      }
      input,
      textarea,
      button {
        background: $color_1;
        margin: 10px 0;
        padding: 15px;
        border-radius: 10px;
        font-size: 17px;
        width: 100%;
      }
      textarea {
        resize: none;
      }
      button {
        grid-area: submit;
        height: 50px;
        transition: 0.2s;
        cursor: pointer;
        background: $color_6;
        color: $color_1;
        font-size: 20px;
        opacity: 0.8;
        margin: 0;

        &:hover {
          opacity: 1;
          transform: scale(1.02);
        }
      }

      .left {
        grid-area: left;
        margin: 0 20px;

        #plugins {
          font-family: NerdFont;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .plugin {
            transition: 0.2s;
            font-size: 40px;
            margin: 10px;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: $color_2;
            cursor: pointer;

            &:hover {
              transform: scale(1.05);
            }

            &#databasePlugin {
              background: $color_6;

              &:hover {
                box-shadow: 0px 0px 4px 0px $color_6;
              }
            }

            &#userPlugin {
              background: $color_3;

              &:hover {
                box-shadow: 0px 0px 4px 0px $color_3;
              }
            }
          }
        }
      }

      .right {
        grid-area: right;
        overflow-y: scroll;
        margin: 0 20px;
        height: 95%;

        h3 {
          color: $color_7;
          font-size: 20px;
          margin: 20px 0 10px 0;
        }

        h4 {
          color: $color_3;
          font-size: 15px;
          margin: 20px 0 10px 0;
        }

        input,
        textarea,
        button {
          background: $color_2;
        }

        .enviromentCred {
          background: $color_1;
          padding: 20px;
          margin-right: 10px;
          border-radius: 10px;
          margin-bottom: 20px;
          position: relative;

          .envName {
            background: $color_1;
            border-radius: 0px;
            font-size: 20px;
            border-bottom: 5px solid $color_2;
            padding: 10px;
            margin: 0;
          }

          h2 {
            margin-top: 20px;
          }

          .deleteEnv {
            transition: 0.2s;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
            opacity: 0.8;
            user-select: none;
            background: $color_5;
            text-align: center;

            &:hover {
              opacity: 1;
              transform: scale(1.02);
            }
          }
        }

        #newEnviromentCred {
          transition: 0.2s;
          font-family: NerdFont;
          border: 2px dashed $color_7;
          margin-right: 10px;
          border-radius: 10px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          cursor: pointer;

          &:hover {
            border: 2px solid transparent;
            background: $color_6;
            color: $color_1;
          }
        }
      }

      #closeNewProjectOverlay {
        transition: 0.2s;
        position: absolute;
        font-family: NerdFont;
        top: 70px;
        right: 70px;
        height: 50px;
        width: 50px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color_5;
        border-radius: 50px;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}
