@import "../../scss/variables.scss";

.newProjectButton {
  @include button($color_6);
  font-family: NerdFont;
  height: 50px;
  width: 50px;
}

.newProjectFormOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);

  form {
    position: relative;

    // width: calc(100% - 70px);
    // height: calc(100% - 70px);
    width: calc(100% - 0px);
    height: calc(100% - 0px);

    // border-radius: 10px;
    border-radius: 0px;

    background: $color_2;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px auto 50px;

    grid-template-areas:
      "title title"
      "left right"
      "submit submit";

    @media (max-width: 600px) {
      grid-template-areas:
        "title"
        "left"
        "right"
        "submit";
      grid-template-columns: 1fr;
      grid-template-rows: 80px auto auto 50px;
      overflow-y: scroll;

      .right,
      .left {
        height: fit-content;
        padding: 20px 0;
      }
    }

    h1 {
      grid-area: title;
      font-size: 40px;
      margin-bottom: 20px;
    }

    .submit {
      grid-area: submit;
      transition: 0.2s;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background: $color_6;
      font-size: 20px;
      opacity: 0.8;
      cursor: pointer;
      color: $color_1;

      &:hover {
        opacity: 1;
      }
    }

    .close {
      @include button($color_5);
      position: absolute;
      font-family: NerdFont;
      top: 30px;
      right: 30px;
      height: 50px;
      width: 50px;
    }

    input,
    textarea {
      background: $color_1;
      resize: none;
      border-radius: 10px;
      padding: 15px;
      font-size: 17px;
      margin: 5px;
    }

    .left {
      grid-area: left;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .pluginButtons {
        font-family: NerdFont;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .pluginButton {
          transition: 0.4s;
          font-size: 40px;
          margin: 10px;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          color: $color_2;
          cursor: pointer;
          background: $color_1;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 0px 4px $color_7;
            color: $color_7;
          }
        }
      }
    }
    .right {
      grid-area: right;
      overflow-y: scroll;
    }
  }
}
